<section class="belive">
  <div class="container belive__container">
    <div class="belive__slider">
      <div class="belive__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="belive__inner hero-deco">
        <div class="belive__img">
          <img
            loading="lazy"
            class="belive__article-img"
            src="../../../assets/images/belive-slide-1.png"
            width="502"
            height="629"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
        <div class="belive__article">
          <img
            loading="lazy"
            class="belive__article-img"
            src="../../../assets/images/belive-slide-2.png"
            width="502"
            height="370"
            alt="Man typing on"
          />
          <h3 class="belive__title heading-h5">What we believe in</h3>
          <div class="belive__descr text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
          </div>
          <button class="belive__button button-form">See Details -></button>
        </div>
        <div class="belive__img">
          <img
            loading="lazy"
            class="belive__article-img"
            src="../../../assets/images/belive-slide-3.png"
            width="506"
            height="460"
            alt="Woman typing on laptop and wrting on a notebook"
          />
        </div>
      </div>
    </div>
  </div>
</section>
