<section class="about">
  <div class="container">
    <h2 class="about__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="about__subcontainer">
      <p class="about__subtitle text-p-subtitle">
        Our digital agency helps clients develop,
        implement and maintain successful digital 
        marketing strategies across all channels. Also 
        work with you to build your website and create 
        online businesses that grow.
      </p>
    </div>
  </div>
</section>
