<section class="join">
  <div class="container">
    <div class="join__wrapper">
      <h2 class="join__title heading-h2">
        Join our team, The one with the master touch
      </h2>
      <div class="join__text text-p-medium">
        <p class="join__descr">
        	We believe it takes great people to make a great product. That’s why we
	        hire not only the perfect professional fits, but people who embody our
	        company values.
        </p>
				<a class="join__link">See Open Position -></a>
      </div>
    </div>
  </div>
</section>
