.blog {
  padding: 120px;
  background-color: var(--black-bg-color);

  @include tablet {
    text-align: center;
  }

  @include mobile {
    padding: 60px 0;
  }

  &__list {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 747px 185px 747px;

    @include tablet {
      @include flex-column-all-center
    }

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    max-width: 453px;

		&-link {
			cursor: pointer;
		}

		&-link:visited {
			color: #fff;
		}

    &-icon,
    &-title {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 18px;
      }
    }

    &-title {
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -0.03em;
      color: #fff;

      @include mobile {
        max-width: 320px;
      }
    }

    &-descr {
      font-weight: 500;
      line-height: 162%;
      color: var(--neutral-color-150);
    }
  }

  &__title,
  &__descr,
  &__item-title {
    @include tablet {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__grid {
    &-1 {
      grid-row: 1/3;
    }

    &-2 {
			grid-row: 1/1;
		}

    &-3 {
			grid-row: 3/4;
		}

    &-4 {
      grid-row: 2/4;
    }
  }
}
