<section class="blog">
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item blog__grid-1">
        <img
          loading="lazy"
          class="blog__item-icon"
          src="./assets/images/articles-img-1.png"
          width="584"
          height="751"
          alt="Calendar icon"
        />
        <h3 class="blog__item-title heading-h5">
          <a class="blog__item-link" href="../../../article-1.html">How we perform long-running tasks using AWS services</a>
        </h3>
        <p class="blog__item-descr text-p-default">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="blog__item blog__grid-2">
        <img
          loading="lazy"
          class="blog__item-icon"
          src="./assets/images/articles-img-2.png"
          width="584"
          height="507"
          alt="Todo icon"
        />
        <h3 class="blog__item-title heading-h5">
          How to ask when doing User Research
        </h3>
        <p class="blog__item-descr text-p-default">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="blog__item blog__grid-3">
        <img
          loading="lazy"
          class="blog__item-icon"
          src="./assets/images/articles-img-3.png"
          width="584"
          height="751"
          alt="List icon"
        />
        <h3 class="blog__item-title heading-h5">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="blog__item-descr text-p-default">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </li>
      <li class="blog__item blog__grid-4">
        <img
          loading="lazy"
          class="blog__item-icon"
          src="./assets/images/articles-img-4.png"
          width="584"
          height="507"
          alt="List icon"
        />
        <h3 class="blog__item-title heading-h5">
          Webflow Break the Coding Barrier
        </h3>
        <p class="blog__item-descr text-p-default">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
