<section class="tabs-news">
  <div class="container tabs-news__container">
    <ul class="tabs-news__control">
      <li class="tabs-news__control-item">
        <a
          href="#"
          class="tabs-news__control-link tabs-news__control-link--active"
          >View all</a
        >
      </li>
      <li class="tabs-news__control-item">
        <a href="#" class="tabs-news__control-link">Design</a>
      </li>
      <li class="tabs-news__control-item">
        <a href="#" class="tabs-news__control-link">Articles</a>
      </li>
      <li class="tabs-news__control-item">
        <a href="#" class="tabs-news__control-link">Product</a>
      </li>
      <li class="tabs-news__control-item">
        <a href="#" class="tabs-news__control-link">Software Development</a>
      </li>
      <li class="tabs-news__control-item">
        <a href="#" class="tabs-news__control-link">Customer Success</a>
      </li>
    </ul>
    <div class="tabs-news__content">
      <div class="swiper tabs-news__slider">
        <div class="tabs-news__slider-btns">
          <svg
            width="28"
            height="18"
            viewBox="0 0 28 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
              stroke="#7E8492"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-1.png"

              alt="Woman typing on laptop and wrting on a notebook"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in isnsight
                <time datetime="2024-01-30">Jan 30, 2021</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="tabs-news__descr text-p-medium">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-3.png"

              alt="Man typing on"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in tabs-news
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="tabs-news__descr text-p-medium">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-2.png"

              alt="Woman typing on laptop and wrting on a notebook"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in tabs-news
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Using Grid in website design
            </h3>
						<p class="tabs-news__descr text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-1.png"

              alt="Woman typing on laptop and wrting on a notebook"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in isnsight
                <time datetime="2024-01-30">Jan 30, 2021</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Practice making User Flow
            </h3>
            <p class="tabs-news__descr text-p-medium">
              In this article, we'll cover how to create user flows
            </p>
          </div>
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-3.png"

              alt="Man typing on"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in tabs-news
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Overview of the Design Principles
            </h3>
            <p class="tabs-news__descr text-p-medium">
              What are Design Principles?… To understand design principles, we
              first discuss the principles.
            </p>
          </div>
          <div class="swiper-slide tabs-news__article">
            <img
              loading="lazy"
              class="tabs-news__article-img"
              src="../../../assets/images/tab-artical-img-2.png"

              alt="Woman typing on laptop and wrting on a notebook"
            />
            <div class="tabs-news__article-head text-p-small">
              <div class="tabs-news__article-date">
                Published in tabs-news
                <time datetime="2024-01-30">Jan 30, 2024</time>
              </div>
              <address class="tabs-news__article-author">
                by : Albert Sans
              </address>
            </div>
            <h3 class="tabs-news__article-title heading-h5">
              Using Grid in website design
            </h3>
						<p class="tabs-news__descr text-p-medium">
              Andi: "What's the grid like?" Toni: “Like below…”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
