.about{
    margin-top: 105px;

    &__title {
        max-width: 959px;
    }

    &__subcontainer{
        @include flex-all-between;
        margin: 118px 0 135px;
        max-width: 100%;
    }

    &__subtitle{
        max-width: 738px;
    }

    &__subtitle::before{
        width: 400px;
    }
    
    &__stamp path{
        fill: var(--neutral-color-100)
    }

    &__stamp rect{
        fill: var(--neutral-color-100)
    }

    &__stamp {
        @include tablet {
            display: none;
        }
    }
}